*.aux
*.fdb_latexmk
*.fls
*.gz
*.gz
*.log
*.nav
*.out
*.snm
*.xml
*.bcf
*.blg
*.bbl
*.toc
*.run.xml
*.syntex.gz
*.toc
rd8.*


test.sh
Demo/tags
Demo/test.bbl
Demo/Demo.bbl


myzsh.zsh
All.bbl
Build_docs/_build

Search_Algolia/test.py

Branches
