name: deploy

on:
  # Trigger the workflow on push to main branch
  push:
    branches:
      - main
  # Allow manual trigger
  workflow_dispatch:

# This job installs dependencies, builds the docs, and pushes to `gh-pages`
jobs:
  build-and-deploy-book:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4

    # Install dependencies
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        
    - name: Install dependencies
      run: |
        pip install -r Build_docs/requirements.txt
        
    # Build the book
    - name: Build the book
      run: |
        cd Build_docs && make html

    # Deploy the book's HTML to gh-pages branch
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./Build_docs/_build/html
